<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Rangliste: {{ run.name }}</title>
    <style>
        body { font-family: sans-serif; }
        @page { size: A4; margin: 1.5cm; }
        .info-header { display: flex; justify-content: space-around; font-size: 10pt; margin-bottom: 1cm; border-bottom: 1px solid #ccc; padding-bottom: 5px;}
        table { width: 100%; border-collapse: collapse; font-size: 9pt; }
        th, td { border: 1px solid #ccc; padding: 4px; text-align: left; }
        th { background-color: #f2f2f2; }
        .dis { color: #888; }
    </style>
</head>
<body>
    {% set title = "Rangliste: " ~ run.name %}
    {% include 'print/_print_header.html' %}

    <div class="info-header">
        {% set judge = (judges|selectattr('id', 'equalto', run.richter_id)|first) %}
        <span>Richter: {{ judge.firstname ~ ' ' ~ judge.lastname if judge else 'N/A' }}</span>
        <span>Parcours: {{ run.get('laufdaten', {}).get('parcours_laenge', '___') }}m</span>
        <span>Standardzeit: {{ run.get('laufdaten', {}).get('standardzeit_sct_gerundet', '___') }}s</span>
        <span>Maximalzeit: {{ run.get('laufdaten', {}).get('maximalzeit_mct_gerundet', '___') }}s</span>
    </div>

    <table>
        <thead>
            <tr>
                <th>Rang</th>
                <th>St-Nr.</th>
                <th>Hundeführer</th>
                <th>Hund</th>
                <th>Zeit</th>
                <th>Fehler</th>
                <th>Verw.</th>
                <th>Zeitfehler</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for res in results %}
                <tr class="{{ 'dis' if res.get('platz') is not defined }}">
                    <td>{{ res.platz or (res.result.disqualifikation if res.result) or '' }}</td>
                    <td>{{ res.Startnummer }}</td>
                    <td>{{ res.Hundefuehrer }}</td>
                    <td>{{ res.Hundename }}</td>
                    <td>{{ '%.2f'|format(res.zeit_total|float) if res.zeit_total < 998 else '' }}</td>
                    <td>{{ res.fehler_parcours|int if res.fehler_parcours is defined else '' }}</td>
                    <td>{{ res.verweigerung_parcours|int if res.verweigerung_parcours is defined else '' }}</td>
                    <td>{{ '%.2f'|format(res.fehler_zeit|float) if res.fehler_zeit is defined else '' }}</td>
                    <td><strong>{{ '%.2f'|format(res.fehler_total|float) if res.fehler_total < 998 else '' }}</strong></td>
                </tr>
            {% else %}
                <tr><td colspan="9">Keine Ergebnisse für diesen Lauf.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>